/*--- Avanquest WebEasy Page Style ---*/


.cc69               { /* Common */
	font            : 36pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc70               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc71               { /* Common */
	font            : bold 45pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc72               { /* Common */
	font            : 14pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc73               { /* Common */
	font            : bold 24pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc74               { /* Common */
	font            : bold 18pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc75               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	border          :   3.75pt solid #0099ff;
	}
.cc76               { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc77               { /* Common */
	font            : bold 12pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc78               { /* Common */
	border          :   3.75pt solid #0099ff;
	}
span#e33            { /* cake-n-eat-it006005.png */
	background      : transparent url(cake-n-eat-it006005.png) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             : 217.50pt;
	width           : 767.25pt;
	height          : 497.25pt;
	}
div#e32             {
	background-color: #0099ff;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 767.25pt;
	height          : 103.50pt;
	}
div#e31             {
	background-color: #0099ff;
	position        : absolute;
	left            :   0.00pt;
	top             : 714.75pt;
	width           : 768.00pt;
	height          :  34.50pt;
	}
span#e30            { /* cake-n-eat-it001006.png */
	background      : transparent url(cake-n-eat-it001006.png) no-repeat top left;
	position        : absolute;
	left            :   7.50pt;
	top             :   0.00pt;
	width           : 105.75pt;
	height          : 105.75pt;
	}
div#e29             { /* Welcome to Cake N' Eat I... */
	position        : absolute;
	left            : 110.25pt;
	top             :   5.25pt;
	width           : 657.75pt;
	height          :  63.75pt;
	}
div#e28             { /* YOU THINK IT - WE CREATE... */
	position        : absolute;
	left            : 265.50pt;
	top             :  70.50pt;
	width           : 258.00pt;
	height          :  26.25pt;
	}
div#e27             { /* HOME */
	background-color: #ff0000;
	position        : absolute;
	left            :   9.75pt;
	top             : 113.25pt;
	width           : 108.75pt;
	height          :  30.75pt;
	}
div#e26             { /* SHOP NOW */
	background-color: #0099ff;
	position        : absolute;
	left            : 144.00pt;
	top             : 114.75pt;
	width           : 150.75pt;
	height          :  30.75pt;
	}
div#e25             { /* ABOUT US */
	background-color: #0099ff;
	position        : absolute;
	left            : 346.50pt;
	top             : 114.75pt;
	width           : 150.75pt;
	height          :  30.75pt;
	}
div#e24             { /* CONTACT US */
	background-color: #0099ff;
	position        : absolute;
	left            : 555.75pt;
	top             : 112.50pt;
	width           : 181.50pt;
	height          :  31.50pt;
	}
div#e23             { /* CREATE A CAKE */
	background-color: #0099ff;
	position        : absolute;
	left            : 458.25pt;
	top             : 180.00pt;
	width           : 202.50pt;
	height          :  30.75pt;
	}
div#e22             { /* BOOK A TOUR */
	background-color: #0099ff;
	position        : absolute;
	left            : 208.50pt;
	top             : 180.00pt;
	width           : 184.50pt;
	height          :  30.00pt;
	}
div#e21             { /* BIRTHDAY */
	background-color: #0099ff;
	position        : absolute;
	left            :   8.25pt;
	top             : 322.50pt;
	width           : 184.50pt;
	height          :  30.75pt;
	}
div#e20             { /* CORPORATE */
	background-color: #ff0000;
	position        : absolute;
	left            :   6.75pt;
	top             : 399.00pt;
	width           : 184.50pt;
	height          :  30.75pt;
	}
div#e19             { /* JUST BECAUSE */
	background-color: #0099ff;
	position        : absolute;
	left            :   7.50pt;
	top             : 249.75pt;
	width           : 145.50pt;
	height          :  27.75pt;
	}
div#e18             { /* SPECIAL OCCASION */
	background-color: #0099ff;
	position        : absolute;
	left            :   6.00pt;
	top             : 473.25pt;
	width           : 200.25pt;
	height          :  24.75pt;
	}
span#e17            { /* cake-n-eat-it006004.png */
	background      : transparent url(cake-n-eat-it006004.png) no-repeat top left;
	position        : absolute;
	left            :  39.00pt;
	top             : 525.00pt;
	width           : 150.00pt;
	height          : 150.00pt;
	}
img#e16             { /* arrownext.png */
	position        : absolute;
	left            : 419.25pt;
	top             : 670.50pt;
	width           :  46.50pt;
	height          :  41.25pt;
	}
div#e15             { /* \ \Cake Tower\ \Traditio... */
	position        : absolute;
	left            : 387.00pt;
	top             : 297.75pt;
	width           : 338.25pt;
	height          : 113.25pt;
	}
div#e14             { /* $180.00 */
	background-color: #ff0000;
	position        : absolute;
	left            : 533.25pt;
	top             : 376.50pt;
	width           :  60.75pt;
	height          :  23.25pt;
	}
div#e13             { /* \ \3 Cake of your choice... */
	position        : absolute;
	left            : 387.00pt;
	top             : 440.25pt;
	width           : 338.25pt;
	height          : 113.25pt;
	}
div#e12             { /* $180.00 */
	background-color: #ff0000;
	position        : absolute;
	left            : 533.25pt;
	top             : 519.00pt;
	width           :  60.75pt;
	height          :  23.25pt;
	}
div#e11             { /* Please note - this is  j... */
	background-color: #ff0000;
	position        : absolute;
	left            : 213.75pt;
	top             : 570.00pt;
	width           : 519.00pt;
	height          :  40.50pt;
	}
div#e10             {
	position        : absolute;
	left            : 423.00pt;
	top             : 366.75pt;
	width           :  78.75pt;
	height          :  33.00pt;
	}
div#e9              {
	position        : absolute;
	left            : 612.00pt;
	top             : 372.00pt;
	width           :  81.00pt;
	height          :  28.50pt;
	}
div#e8              {
	position        : absolute;
	left            : 675.75pt;
	top             :  61.50pt;
	width           :  64.50pt;
	height          :  42.75pt;
	}
img#e7              { /* cake-n-eat-it001005.png */
	position        : absolute;
	left            : 702.00pt;
	top             : 169.50pt;
	width           :  38.25pt;
	height          :  38.25pt;
	}
span#e6             { /* cake-n-eat-it001002.png */
	background      : transparent url(cake-n-eat-it001002.png) no-repeat top left;
	position        : absolute;
	left            : 539.25pt;
	top             : 220.50pt;
	width           :  30.75pt;
	height          :  33.75pt;
	}
img#e5              { /* cake-n-eat-it010002.jpg */
	position        : absolute;
	left            : 283.50pt;
	top             : 298.50pt;
	width           : 102.75pt;
	height          : 111.75pt;
	}
img#e4              { /* cake-n-eat-it010001.jpg */
	position        : absolute;
	left            : 210.75pt;
	top             : 439.50pt;
	width           : 204.75pt;
	height          : 114.00pt;
	}
div#e3              {
	position        : absolute;
	left            : 434.25pt;
	top             : 510.00pt;
	width           :  77.25pt;
	height          :  30.00pt;
	}
div#e2              {
	position        : absolute;
	left            : 619.50pt;
	top             : 510.75pt;
	width           :  83.25pt;
	height          :  29.25pt;
	}
div#e1              {
	position        : absolute;
	left            : 576.00pt;
	top             : 222.75pt;
	width           : 164.25pt;
	height          :  25.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 768.00pt;
	height          : 750.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #e9ebec;
	text-align      : center;
	}



/*--- EndOfFile ---*/
