/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : 36pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc02               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc03               { /* Common */
	font            : bold 45pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc04               { /* Common */
	font            : 14pt 'Arial Black', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc05               { /* Common */
	font            : bold 24pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc06               { /* Common */
	font            : 18pt 'Arial Black', Helvetica, sans-serif;
	color           : #000000;
	border          :   3.75pt solid #0099ff;
	}
.cc07               { /* Common */
	border          :   3.75pt solid #0099ff;
	}
div#e18             {
	background-color: #0099ff;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 767.25pt;
	height          : 103.50pt;
	}
div#e17             {
	background-color: #0099ff;
	position        : absolute;
	left            :   0.00pt;
	top             : 704.25pt;
	width           : 768.00pt;
	height          :  45.00pt;
	}
span#e16            { /* cake-n-eat-it001006.png */
	background      : transparent url(cake-n-eat-it001006.png) no-repeat top left;
	position        : absolute;
	left            :   7.50pt;
	top             :   0.00pt;
	width           : 105.75pt;
	height          : 105.75pt;
	}
div#e15             { /* Welcome to Cake N' Eat I... */
	position        : absolute;
	left            : 110.25pt;
	top             :   5.25pt;
	width           : 657.75pt;
	height          :  63.75pt;
	}
div#e14             { /* YOU THINK IT - WE CREATE... */
	position        : absolute;
	left            : 265.50pt;
	top             :  70.50pt;
	width           : 258.00pt;
	height          :  26.25pt;
	}
div#e13             { /* SHOP NOW */
	background-color: #0099ff;
	position        : absolute;
	left            : 144.00pt;
	top             : 114.75pt;
	width           : 150.75pt;
	height          :  30.75pt;
	}
div#e12             { /* ABOUT US */
	background-color: #0099ff;
	position        : absolute;
	left            : 346.50pt;
	top             : 114.75pt;
	width           : 150.75pt;
	height          :  30.75pt;
	}
div#e11             { /* CONTACT US */
	background-color: #0099ff;
	position        : absolute;
	left            : 555.75pt;
	top             : 112.50pt;
	width           : 181.50pt;
	height          :  31.50pt;
	}
div#e10             { /* CREATE A CAKE */
	background-color: #0099ff;
	position        : absolute;
	left            : 458.25pt;
	top             : 180.00pt;
	width           : 202.50pt;
	height          :  30.75pt;
	}
div#e9              { /* BOOK A TOUR */
	background-color: #0099ff;
	position        : absolute;
	left            : 208.50pt;
	top             : 180.00pt;
	width           : 184.50pt;
	height          :  30.00pt;
	}
img#e8              { /* cake-n-eat-it001005.png */
	position        : absolute;
	left            : 702.00pt;
	top             : 169.50pt;
	width           :  38.25pt;
	height          :  38.25pt;
	}
span#e7             { /* cake-n-eat-it001004.png */
	background      : transparent url(cake-n-eat-it001004.png) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             : 215.25pt;
	width           : 767.25pt;
	height          : 486.75pt;
	}
div#e6              { /* We have a retail outlet ... */
	position        : absolute;
	left            :  12.75pt;
	top             : 230.25pt;
	width           : 501.75pt;
	height          : 299.25pt;
	}
span#e5             { /* cake-n-eat-it001003.jpg */
	background      : transparent url(cake-n-eat-it001003.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 537.00pt;
	width           : 768.00pt;
	height          : 170.25pt;
	}
div#e4              {
	position        : absolute;
	left            : 675.75pt;
	top             :  61.50pt;
	width           :  64.50pt;
	height          :  42.75pt;
	}
span#e3             { /* cake-n-eat-it001002.png */
	background      : transparent url(cake-n-eat-it001002.png) no-repeat top left;
	position        : absolute;
	left            : 539.25pt;
	top             : 220.50pt;
	width           :  30.75pt;
	height          :  33.75pt;
	}
span#e2             { /* cake-n-eat-it001001.jpg */
	background      : transparent url(cake-n-eat-it001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 576.75pt;
	top             : 253.50pt;
	width           : 114.00pt;
	height          : 275.25pt;
	}
div#e1              {
	position        : absolute;
	left            : 576.00pt;
	top             : 222.75pt;
	width           : 164.25pt;
	height          :  25.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 768.00pt;
	height          : 750.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #e9ebec;
	text-align      : center;
	}



/*--- EndOfFile ---*/
